apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kompose.service.expose: pgadmin
  creationTimestamp: null
  labels:
    io.kompose.service: db-viewer
  name: db-viewer
spec:
  rules:
    - host: pgadmin
      http:
        paths:
          - backend:
              service:
                name: db-viewer
                port:
                  number: 8989
            path: /
            pathType: Prefix
status:
  loadBalancer: {}
