apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kompose.service.expose: minio
  creationTimestamp: null
  labels:
    io.kompose.service: s3
  name: s3
spec:
  rules:
    - host: minio
      http:
        paths:
          - backend:
              service:
                name: s3
                port:
                  number: 9001
            path: /
            pathType: Prefix
status:
  loadBalancer: {}
